In [14]:
name='manasi'

In [2]:
print(name.title())

Manasi

In [3]:
full_name='Manasi Patil'

In [4]:
print(full_name.title())

Manasi Patil

In [5]:
full_name='manasi patil'
print(full_name.title())

Manasi Patil

In [6]:
print(full_name.upper())

MANASI PATIL

In [7]:
print(full_name.lower())

manasi patil

In [13]:
fname='manasi'
lname='patil'
sentence=f"{fname} {lname}"      #f string holds custom words-----{}
print(sentence)

manasi patil

In [14]:
fname='manasi'
lname='patil'
sentence=f"{(fname.title())} {(lname.title())}"      #f string holds custom words-----{}
print(sentence)

Manasi Patil

In [16]:
fname='manasi'
lname='patil'
sentence=f"{(fname.upper())} {(lname.lower())}"      #f string holds custom words-----{}
print(sentence)

MANASI patil

In [17]:
print('fav_sub', 'c++', 'java', 'python', 'c#', 'c')

fav_sub c++ java python c# c

In [49]:
print('fav_sub are=\n','c\n','\tc++\n', '\t\toops\n','java\n','\tjavascript\n','python\n', '\toracle')

fav_sub are=
 c
 	c++
 		oops
 java
 	javascript
 python
 	oracle

In [50]:
name='      manasi'
print(name)

      manasi

In [51]:
name.lstrip()

'manasi'

In [52]:
name.rstrip()

'      manasi'

In [55]:
name1='   sam     '
name1.lstrip()

'sam     '

In [56]:
name1.strip()

'sam'

In [2]:
student=['manasi','priya','sanika','mrunali','ankita','apurva','leena','vishakha','monali','nisha']
print(student)

['manasi', 'priya', 'sanika', 'mrunali', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha']

In [58]:
student[2]

'sanika'

In [4]:
print(student[1].title())
print(student[3].title())
print(student[6].title())
print(student[9].title())

Priya
Mrunali
Leena
Nisha

In [5]:
print(student[1],student[3],student[6],student[9])

priya mrunali leena nisha

In [ ]:
#how to add new Element in list

In [3]:
student.append('pooja')    #append use for add element at the last of list
print(student)

['manasi', 'priya', 'sanika', 'mrunali', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha', 'pooja']

In [5]:
student.insert(2,'aayush')  #insert use to add element in list with the use of index number and add this element in that number
print(student)

['manasi', 'priya', 'aayush', 'sanika', 'mrunali', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha', 'pooja']

In [7]:
print(student[4])

mrunali

In [8]:
# how to modify  the element in list?
student

['manasi',
 'priya',
 'aayush',
 'sanika',
 'mrunali',
 'ankita',
 'apurva',
 'leena',
 'vishakha',
 'monali',
 'nisha',
 'pooja']

In [10]:
print(student)

['manasi', 'priya', 'aayush', 'sanika', 'mrunali', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha', 'pooja']

In [11]:
student[1]='rushu'
print(student)

['manasi', 'rushu', 'aayush', 'sanika', 'mrunali', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha', 'pooja']

In [12]:
type(student)

list

In [15]:
type(name)

str

In [16]:
#how to delete The element in list?
del student[4]
print(student)

['manasi', 'rushu', 'aayush', 'sanika', 'ankita', 'apurva', 'leena', 'vishakha', 'monali', 'nisha', 'pooja']

In [ ]:
#python program to display calender

In [23]:
import calendar      # modules are predefine programs
mm =6    #month
yy=1999  #year
#to take month and year input from the user
#yy=int(input("enter year:"))
#display the calender
print(calendar.month(yy,mm))

     June 1999
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

In [26]:
#let us find the value of "pi"
import math        #math is predefine in built function
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [35]:
#How to add Two numbers two types :=
#example 1: Add two numbers
num1=10
num2=12
sum=num1+num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 10 and 12 is 22

In [36]:
num1=90.2
num2=23.54
sum=num1+num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 90.2 and 23.54 is 113.74000000000001

In [39]:
#Example 2:Add two Numbers with user Input
num1 = input("Enter first number=")
num2 = input("Enter second number=")
sum=float(num1) + float(num2)
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

Enter first number=12
Enter second number=22
The sum of 12 and 22 is 34.0

In [86]:
#substarction of two numbers with Fixed value
num1=90.2
num2=23.54
sub=float(num1) - float(num2)
print('The substraction of {0} and {1} is {2}'.format(num1,num2,sub))

The substraction of 90.2 and 23.54 is 66.66

In [84]:
#substarction of two numbers with Float value
num1 = input('Enter first number=')
num2 = input('Enter second number=')
sub=float(num1) - float(num2)
print('The substarction of {0} and {1} is {2}'.format(num1,num2,sum))

Enter first number=33
Enter second number=2
The sum of 33 and 2 is 31.0

In [110]:
#Multiplication of two numbers with Fixed value
num1=90
num2=23.54
mul=float(num1) * float(num2)
print('The Multiplication of {0} and {1} is {2}'.format(num1,num2,mul))

The Multiplication of 90 and 23.54 is 2118.6

In [111]:
#Multiplication of two numbers with Float value
num1 = input("Enter first number=")
num2 = input("Enter second number=")
mul=float(num1) * float(num2)
print('The Multiplication of {0} and {1} is {2}'.format(num1,num2,mul))

Enter first number=12
Enter second number=3
The Multiplication of 12 and 3 is 36.0

In [112]:
#Division of two numbers with Fixed value
num1=90
num2=30
div=float(num1) / float(num2)
print('The Division of {0} and {1} is {2}'.format(num1,num2,div))

The Division of 90 and 30 is 3.0

In [113]:
#Division of two numbers with Float value
num1 = float(input("Enter first number="))
num2 = float(input("Enter second number="))
div=float(num1) / float(num2)
print('The Division of {0} and {1} is {2}'.format(num1,num2,div))

Enter first number=12
Enter second number=2
The Division of 12.0 and 2.0 is 6.0

In [82]:
#program for swapping of two numbers
fno=10
sno=20
print('Before swapping fno=', fno,'And sno=',sno)
temp=fno
fno=sno
sno=temp
swap 
print("After swaaping fno=", fno,'And sno=',sno)

Before swapping fno= 10 And sno= 20
After swaaping fno= 20 And sno= 10

In [64]:
#program for find maximum of two number
import math
num1 = input('Enter first number=')
num2 = input("Enter second number=")
print(max(num1,num2))

Enter first number=12
Enter second number=33
33

In [66]:
#program for find minimum of two number
import math
num1 = input('Enter first number=')
num2 = input("Enter second number=")
print(min(num1,num2))

Enter first number=12
Enter second number=55
12

In [65]:
#program for find maximum of three number
import math
num1 = input('Enter first number=')
num2 = input("Enter second number=")
num3 = input("Enter Third number=")
print(max(num1,num2,num3))

Enter first number=12
Enter second number=33
Enter Third number=55
55

In [68]:
#program for find minimum of three number
import math
num1 = input('Enter first number=')
num2 = input("Enter second number=")
num3 = input("Enter Third number=")
print(min(num1,num2,num3))

Enter first number=33
Enter second number=55
Enter Third number=44
33

In [9]:
#program for sort list in Alphabetical order
my_str=("Hello to all Welcome to the World of python And Let us all come together to learn a new Language")
words=my_str.split()
words.sort()
print(words)

['And', 'Hello', 'Language', 'Let', 'Welcome', 'World', 'a', 'all', 'all', 'come', 'learn', 'new', 'of', 'python', 'the', 'to', 'to', 'to', 'together', 'us']

In [40]:
#program for create square
print(" _______________\n|\t\t|\n|\t\t|\n|\t\t|\n|\t\t|\n|_______________|")

 _______________
|		|
|		|
|		|
|		|
|_______________|

In [49]:
#program for rectangle
print(" _______________________\n|\t\t\t|\n|\t\t\t|\n|\t\t\t|\n|\t\t\t|\n|_______________________|")

 _______________________
|			|
|			|
|			|
|			|
|_______________________|

In [107]:
#program for Traingle
print("\t\t /\\ \n \t\t/__\\")

		 /\
 		/__\